body {
    font-size: 20px;
}

.logoEtBanniere {
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    background-color: #f1c40f;
    color:white;
    height: 100px;
    width: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer; /* Ajout pour l'UI */
    transition: background-color linear 5s;
}

.logo:hover {
    background-color: #852999
}

.banniere {
    display: flex;
    background-color: #f39c12;
    color: white;
    height: 100px;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer; /* Ajout pour l'UI */
    transition: color 5s;
}

.banniere:active {
    color: black;
}

/* Bout de code suivant => première idée avortée =>  cf. README.md */
/*.banniere:active {*/
/*    color: white;*/
/*    animation-name: texteCouleur;*/
/*    animation-duration: 2s;*/
/*    animation-timing-function: linear;*/
/*}*/

/*@keyframes texteCouleur {*/
/*    from {*/
/*        color: white;*/
/*    }*/
/*    50% {*/
/*        color: #808080;*/
/*    }*/
/*    to {*/
/*        color: black;*/
/*    }*/
/*}*/

.navigation {
    height: 50px;
    width: 100%;
    background-color: #e74c3c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer; /* Ajout pour l'UI */
    transition-property: background-color, color;
    transition-duration: 5s, 5s;
    transition-timing-function: linear, ease-in;
}

.navigation:hover {
    background-color: white;
    color: black;
}

.slider {
    height: 200px;
    width: 100%;
    background-color: #3498db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.edito {
    display: flex;
    flex-direction: row;
}

.editoUn {
    height: 100px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2ecc71;
    color: white;
    text-transform: uppercase;
}

.editoDeux {
    height: 100px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27ae60;
    color: white;
    text-transform: uppercase;
}

.article {
    display: flex;
    flex-direction: row;
}

.articleUn {
    height: 200px;
    width: 25%;
    color: white;
    background-color: #f39c12;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

}

.articleDeux {
    height: 200px;
    width: 25%;
    color: white;
    background-color: #e67e22;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    
}

.article3Colonne1, .article3Colonne2 {
    height: 200px;
    width: 25%;
    color: white;
    background-color: #d35400;
    display: flex;
    align-items: center;
    justify-content: center;
    border: dotted 2px grey;
    box-sizing: border-box;
    text-transform: uppercase;
}

/* Pistes de recherches => Optimisation du code cf. README.md*/
/*.article3Colonne2 {*/
/*    height: 200px;*/
/*    width: 25%;*/
/*    color: white;*/
/*    background-color: #d35400;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    border: dotted 2px grey;*/
/*    box-sizing: border-box;*/
/*    text-transform: uppercase;*/
/*}*/

.footer {
    height: 200px;
    width: 100%;
    background-color: #9b59b6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p {
    text-transform: uppercase;
    position: relative;
    animation-name: mouvement, pause;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes mouvement {
    from {
        top: -60px;
    }
    50% {
        top: 0;
    }
    to {
        top: 70px;
    }
}

/* Stopper l'animation texte au passage de la sourie */
.footer > p:hover {
    animation-play-state: paused;
}
