body {
    font-size: 20px;
}

.logoEtBanniere {
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    background-color: #f1c40f;
    color:white;
    height: 100px;
    width: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.banniere {
    display: flex;
    background-color: #f39c12;
    color: white;
    height: 100px;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.navigation {
    height: 50px;
    width: 100%;
    background-color: #e74c3c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.slider {
    height: 200px;
    width: 100%;
    background-color: #3498db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.edito {
    display: flex;
    flex-direction: row;
}

.editoUn {
    height: 100px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2ecc71;
    color: white;
    text-transform: uppercase;
}

.editoDeux {
    height: 100px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27ae60;
    color: white;
    text-transform: uppercase;
}

.article {
    display: flex;
    flex-direction: row;
}

.partOne {
    display: flex;
    width: 66.66%;
    flex-direction: row;
}

.partTwo {
    display: flex;
    width: 33.33%;
    flex-direction: row;
}

.articleUn {
    height: 200px;
    width: 50%;
    color: white;
    background-color: #f39c12;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.articleDeux {
    height: 200px;
    width: 50%;
    color: white;
    background-color: #e67e22;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    
}

.articleTroisColonneUn {
    height: 200px;
    width: 50%;
    color: white;
    background-color: #d35400;
    display: flex;
    align-items: center;
    justify-content: center;
    border: dotted 2px grey;
    box-sizing: border-box;
    text-transform: uppercase;
}

.articleTroisColonneDeux {
    height: 200px;
    width: 50%;
    background-color: #d35400;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: dotted 2px grey;
    box-sizing: border-box;
    text-transform: uppercase;
}

.footer {
    height: 200px;
    width: 100%;
    background-color: #9b59b6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}